GoogleService-Info.plist filter=git-crypt diff=git-crypt
google-service.json filter=git-crypt diff=git-crypt
/lib/firebase_options.dart filter=git-crypt diff=git-crypt
/lib/config/config.dart filter=git-crypt diff=git-crypt