<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honjow.fehviewer">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
    <!-- 允许全部网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" /> 
    <!-- 获取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
</manifest>
